.form {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.form-container {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    position: relative;
    height: 100%;
}
.grid-form {
    width: 80vw;
    height: 70vh
}

.grid-form form {
    height: 100%;
}
.form-container label {
    position: absolute;
    font-size: 0.9rem;
    text-align: center;
    margin-left: 1em;
}

.form-container:nth-child(odd) label{
    margin-right: 1em;
    background-color: #000000;
}

.form-container input {
    background-color: #000000;
    outline: none;
    border: 1px solid #C8133D;
    border-radius: 0.5em;
    width: 80%;
    padding: 0.5rem;
    color: #FFFFFF;
    
}



.form-container p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-container p:nth-child(odd) {
    justify-self: end;
    justify-content: flex-end;
    width: 100%;
}

.form-container p:nth-child(1) {
    justify-self: center;
}
.form-container p:nth-child(6) {
    grid-column: 1/3;
}

.form-container p:nth-child(6) input {
    height: 100%;
    width: 100%;
}
#submit {
    background-color: #C8133D;
    height: 60%;
    grid-column: 1/3;
    grid-row: 4/5;
    align-self: end;
    justify-self: center;
}
#form-title {
    grid-column: 1/3;
    position: absolute;
    text-align: center;
}

