#about-section {
    --bcolor: #000;
}
.timeline-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 100vh;
}

.timeline-items {
    width: 100%;
    display: flex;
    position: relative;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
}

.timeline-items::before{
    content: "";
    position: relative;
    width: 3px;
    height: 100%;
    background-color: var(--color);
}
.timeline-items:nth-child(odd) .date-text {
    transform:translate(-50%, -200%)
} 

.timeline-items:nth-child(even) .date-text {
    transform:translate(-50%, -200%)
} 


.work-card {
    display:flex;
    flex-direction: column-reverse;
    justify-content:center;
    align-items: center;
    width : 100%;
    align-self: center;
}

.work-card img {
    width : 50%;
    justify-self: center;
}
.work-description {
    color: var(--color);
}
.date-text {
    background-color: var(--bcolor);
    color: #C8133D;
}

@media (min-width: 2560px) {

    .work-card img {
        flex-direction: column;
    }
    
}

@media (min-width:768px) {

    .timeline-items:nth-child(odd){
        padding-right: 50%;
        flex-direction: row-reverse;
        transform:translate( +3px);
    }
    
    .timeline-items:nth-child(even){
        padding-left: 50%;
        justify-self: flex-end;
    }
    .timeline-items:nth-child(odd) .date-text {
        transform:translate(50%, -200%)
    } 
    
    .work-card img {
        width: 30vw;
        border-radius: 1em;
        justify-self: center;
    }
    
}
