.timeline-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100vh;
}
.timeline {
    grid-column: 2/3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.timeline-items {
    display: flex;
    
}

.work-card {
    align-self: center;
    margin-left: 10%;
}
.time-item {
    display: flex;
    flex-direction: column;
}
