.timeline-container {
    grid-column: 1/6;
    grid-row: 1/6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
}

.timeline-items {
    width: 100%;
    display: flex;
    position: relative;
}

.timeline-items::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 80%;
    background-color: #FFF;
    transform:translate( +3px);
    align-self: flex-end;
}

.timeline-items:nth-child(odd){
    padding-right: 50%;
    flex-direction: row-reverse;
    transform:translate( +3px)
}

.timeline-items:nth-child(even){
    padding-left: 50%;
}

.timeline-items:nth-child(odd) .date-text {
    transform:translate(50%, 100%)
} 

.timeline-items:nth-child(even) .date-text {
    transform:translate(-50%, 100%)
} 



.date-text {
    color: #C8133D;
}
